<section id="food-booth" class="event-section">
  <div class="container">
    <h2 class="section-title">Food Booths</h2>
    <p>Discover a wide variety of street food from all over the world. Our food booths offer delicious snacks and appetizers for every taste!</p>
    <div class="row">
      <article class="col-md-4 text-center mb-4 food-card">
        <img src="../res/logo/UAA.jpg" alt="UAA" class="rounded-circle logo-sm mb-2">
        <h5>Veggie Dumplings</h5>
        <p>Vendor: <a href="https://maps.app.goo.gl/Nwya9uB8abHwDoik6?g_st=com.google.maps.preview.copy" target="_blank">Wah Sing</a></p>
      </article>
      <article class="col-md-4 text-center mb-4 food-card">
        <img src="../res/logo/FASA.png" alt="FASA" class="rounded-circle logo-sm mb-2">
        <h5>Lumpia Shanghai (Pork)</h5>
        <p>Vendor: <a href="https://www.yelp.com/biz/asian-american-food-mart-jersey-city" target="_blank">Asian American Food Mart</a></p>
      </article>
      <article class="col-md-4 text-center mb-4 food-card">
        <img src="../res/logo/ALMA.jpg" alt="ALMA" class="rounded-circle logo-sm mb-2">
        <h5>Tacos</h5>
        <p>Vendor: <a href="https://www.elaztecanj.com/" target="_blank">El Azteca</a></p>
      </article>
      <article class="col-md-4 text-center mb-4 food-card">
        <img src="../res/logo/OLU.jpg" alt="OLU" class="rounded-circle logo-sm mb-2">
        <h5>Flautas/Taquitos</h5>
        <p>Vendor: <a href="https://www.elaztecanj.com/" target="_blank">El Azteca</a></p>
      </article>
      <article class="col-md-4 text-center mb-4 food-card">
        <img src="../res/logo/SOCA.jpg" alt="SOCA" class="rounded-circle logo-sm mb-2">
        <h5>Cocktail Beef Patties</h5>
        <p>Vendor: <a href="https://www.goldenkrust.com/" target="_blank">Golden Krust</a></p>
      </article>
      <article class="col-md-4 text-center mb-4 food-card">
        <img src="../res/logo/SAC.png" alt="South Asian Club" class="rounded-circle logo-sm mb-2">
        <h5>Mango Lassi</h5>
        <p>Vendor: <a href="https://www.spicehouseusa.com/" target="_blank">Spice House</a></p>
      </article>
      <article class="col-md-4 text-center mb-4 food-card">
        <img src="../res/logo/Dining.jpg" alt="Dining Services" class="rounded-circle logo-sm mb-2">
        <h5>Boneless Wings</h5>
        <p>Vendor: <a href="https://www.ramapo.edu/dining/" target="_blank">RCNJ Dining Services</a></p>
      </article>
      <article class="col-md-4 text-center mb-4 food-card">
        <img src="../res/logo/CAPS.jpg" alt="CAPS" class="rounded-circle logo-sm mb-2">
        <h5>Cream Puffs</h5>
        <p>Vendor: <a href="https://bobozbakery.com/" target="_blank">BoBo Z Bakery</a></p>
      </article>
      <article class="col-md-4 text-center mb-4 food-card">
        <img src="../res/logo/BSU.jpg" alt="BSU" class="rounded-circle logo-sm mb-2">
        <h5>Banana Pudding</h5>
        <p>Vendor: <a href="https://www.wegmans.com/" target="_blank">Wegman's</a></p>
      </article>
      <article class="col-md-4 text-center mb-4 food-card">
        <img src="../res/logo/ISO.jpg" alt="ISO" class="rounded-circle logo-sm mb-2">
        <h5>Macarons</h5>
        <p>Vendor: <a href="https://bobozbakery.com/" target="_blank">BoBo Z Bakery</a></p>
      </article>
      <article class="col-md-4 text-center mb-4 food-card">
        <img src="../res/logo/IVCF.jpg" alt="IVCF" class="rounded-circle logo-sm mb-2">
        <h5>Baguette & Salem</h5>
        <p>
          Vendor:
          <a href="https://www.shoprite.com/" target="_blank">Shoprite</a>
          and
          <a href="https://rocklandbakery.com/" target="_blank">Rockland Bakery</a>
        </p>
      </article>
    </div>
  </div>
</section>
