<section id="hosts" class="event-section bg-light">
  <div class="container">
    <h2 class="section-title">Hosts</h2>
    <p>Meet our enthusiastic hosts who will guide you through the festival!</p>
    <div class="row">
      <article class="col-md-4 text-center mb-4 host-card">
        <img src="../res/logo/CSI.jpg" alt="CSI" class="rounded-circle logo-md mb-2">
        <h5>Center for Student Involvement</h5>
      </article>
      <article class="col-md-4 text-center mb-4 host-card">
        <img src="../res/logo/ISO.jpg" alt="ISO" class="rounded-circle logo-md mb-2">
        <h5>International Student Organization</h5>
      </article>
      <article class="col-md-4 text-center mb-4 host-card">
        <img src="../res/logo/UAA.jpg" alt="UAA" class="rounded-circle logo-md mb-2">
        <h5>United Asian Association</h5>
      </article>
      <article class="col-md-4 text-center mb-4 host-card">
        <img src="../res/logo/BSU.jpg" alt="BSU" class="rounded-circle logo-md mb-2">
        <h5>Black Student Union</h5>
      </article>
      <article class="col-md-4 text-center mb-4 host-card">
        <img src="../res/logo/TPA.jpg" alt="Theta Phi Alpha" class="rounded-circle logo-md mb-2">
        <h5>Theta Phi Alpha</h5>
      </article>
      <article class="col-md-4 text-center mb-4 host-card">
        <img src="../res/logo/WRPR.jpg" alt="WRPR" class="rounded-circle logo-md mb-2">
        <h5>Broadcasting Club</h5>
      </article>
    </div>
  </div>
</section>
