<section id="regular-sponsors" class="event-section bg-light">
  <div class="container">
    <h2 class="section-title">Sponsors</h2>
    <p>We thank our valued regular sponsors for their support.</p>
    <div class="d-flex flex-wrap justify-content-center">
      <img src="../res/logo/EDIC.png" alt="Sponsor 1" class="sponsor-logo">
      <img src="../res/logo/IVCF.jpg" alt="Regular Sponsor 1" class="sponsor-logo small-logo">
      <img src="../res/logo/GDG.jpg" alt="Regular Sponsor 2" class="sponsor-logo small-logo">
      <img src="../res/logo/ENACTUS.png" alt="Regular Sponsor 3" class="sponsor-logo small-logo">
      <img src="../res/logo/NAACH.png" alt="Regular Sponsor 4" class="sponsor-logo small-logo">
      <img src="../res/logo/WIB.jpg" alt="Regular Sponsor 5" class="sponsor-logo small-logo">
      <img src="../res/logo/DSC.jpg" alt="Regular Sponsor 6" class="sponsor-logo small-logo">
      <img src="../res/logo/MUSIC.png" alt="Regular Sponsor 7" class="sponsor-logo">
      <img src="../res/logo/Vil.jpg" alt="Regular Sponsor 8" class="sponsor-logo small-logo">
      <img src="../res/logo/M&B.jpg" alt="Regular Sponsor 9" class="sponsor-logo small-logo">
      <img src="../res/logo/CSC.png" alt="Regular Sponsor 10" class="sponsor-logo">
      <img src="../res/logo/Lau.jpg" alt="Regular Sponsor 11" class="sponsor-logo small-logo">
      <!-- <img src="../res/logo/CA.jpg" alt="Regular Sponsor" class="sponsor-logo small-logo">
      <img src="../res/logo/FGen.jpg" alt="Regular Sponsor" class="sponsor-logo small-logo"> -->
      <!-- <img src="../res/logo/CA.jpg" alt="Regular Sponsor" class="sponsor-logo small-logo"> -->
      <!-- <img src="../res/logo/BMAD.jpg" alt="Regular Sponsor" class="sponsor-logo small-logo"> -->
      <!-- <img src="../res/logo/EWSC.jpg" alt="Regular Sponsor" class="sponsor-logo small-logo"> -->
      <!-- Add additional regular sponsor logos here -->
    </div>
  </div>
</section>
