<section id="sponsors" class="event-section">
  <div class="container">
    <h2 class="section-title">Golden Sponsors</h2>
    <p>We are proud to have the support of our generous co-sponsors.</p>
    <div class="d-flex flex-wrap justify-content-center">
      <img src="../res/logo/Dining.jpg" alt="Sponsor 1" class="sponsor-logo">
      <img src="../res/logo/Roukema.jpg" alt="Sponsor 2" class="sponsor-logo">
      <img src="../res/logo/SAC.png" alt="Sponsor 3" class="sponsor-logo">
      <img src="../res/logo/FASA.png" alt="Sponsor 4" class="sponsor-logo">
      <img src="../res/logo/SOCA.jpg" alt="Sponsor 5" class="sponsor-logo">
      <img src="../res/logo/OLU.jpg" alt="Sponsor 6" class="sponsor-logo">
      <img src="../res/logo/ALMA.jpg" alt="Sponsor 7" class="sponsor-logo">
      <img src="../res/logo/CAPS.jpg" alt="Sponsor 8" class="sponsor-logo">
      <img src="../res/logo/SGA.jpg" alt="Sponsor 9" class="sponsor-logo">
    </div>
  </div>
</section>
